@media screen and (max-width: 900px) {

    /* CORE */
    h1 {
        font-size: 2.5rem;
    }

    p {
        padding: 0.75rem 0;
    }

    header #header-content {
        margin-top: 4rem;
    }
    
    header #header-content p {
        padding: 1rem 2rem;
    }

    section#about picture img {
        max-width: 175px;
    }

    section#contact .form-wrapper {
        max-width: 100%;
    }

    /* MENU */
    header nav button.hamburger {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 4;
    }

    .menu {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 3;
        background: rgba(0, 0, 0, 0.85);
        visibility: hidden;
        opacity: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        transition: all 0.2s ease-in-out;
    }

    .menu ul {
        flex-direction: column;
        align-items: center;
        line-height: 5rem;
    }

    .menu ul li a {
        color: white;
        font-size: 2rem;
        font-weight: bolder;
    }

    .menu-active {
        visibility: visible;
        opacity: 1;
    }

}