@import '_variables.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: $font-stack;
}

body {
    line-height: 1.6rem;
}

h1, h2, h3, h4, h5, h6 {
    padding-bottom: 1rem;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.3rem;
}

p {
    font-size: 1.2rem;
    padding: 1.3rem 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: $dark-color;
}

ul {
    list-style: none;
}

section {
    padding: 2rem;
}

/* NAVIGATION */
nav {
    padding: 1.7rem 1rem;
    z-index: 3;

    button.hamburger {
        display: none;
    }

    ul {
        display: flex;
        justify-content: flex-end;

        li {
            padding: 0 0.75rem;

            a {
                padding: 0.75rem;
                margin: 0 0.25rem;

                &:hover {
                    background: rgba(0, 0, 0, 0.1);
                    border-radius: 0.25rem;
                }
            }
        }
    }
}

section#projects {
    .container {
        display: flex;
        flex-direction: column;

        p {
            align-self: center;
            padding: 5rem 0;
        }
    }
}

/* CONTACT */
section#contact {
    background: $light-color;
    padding-bottom: 3rem;

    .form-wrapper {
        max-width: 80%;
        margin: auto;

        form {
            display: flex;
            flex-direction: column;
            align-items: stretch;

            .form-group {
                margin-top:1.7rem;

                label {
                    display: block;
                    font-size: 1.1rem;
                    color: $dark-color;
                    margin-bottom: 0.3rem;
                }

                input:not([type='submit']), textarea {
                    width: 100%;
                    padding: 0.5rem;
                    font-size: 1.1rem;
                    border: #ddd 1px solid;
                    border-radius: 0.3rem;;
                }
            }

            input[type='submit'] {
                margin-top: 1.5rem;
                align-self: center;
            }
        }
    }
}

footer {
    padding: 1.5rem;
    background: $dark-color;
    color: #ffffff;

    a {
        color: #ffffff;
    }

    #social ul {
        display: flex;
        justify-content: center;

        li {
            margin-left: 1.75rem;
        }
    }
}